
ul {
 margin:0 auto;
  list-style: none;

}
ul .inner {
margin:0 auto;
  overflow: hidden;
  display: none;
}
ul .inner.show {padding: 0;
  /*display: block;*/
}

ul li a.toggle {
margin:0 auto;
  display: block;
  background: rgba(0, 0, 0, 0);
  color: #525252;

/*  border-radius: 0.15em;*/
  transition: background 0.3s ease;
}
