/* Font */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;500&display=swap');

/* Color variables */
:root{
	--grey:#999;
	--lightgrey:#ddd;
	--success:#52b788;
}

/* General styles */
html, body{
	height:100%;
}
html, body, input{
	font-family: 'Rubik', sans-serif;
	font-weight:300;
}
ul #app p strong{font-family: 'Rubik', sans-serif;
	font-weight:500;}


#app{
	width:100%;
	height:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	flex-direction:column;
}
.small{
	font-size:0.9rem;
	color:var(--grey);
  letter-spacing: 0px;
}

p{
	font-size:1rem;
	position:relative;  letter-spacing: 0px;

}
p .key{
	padding:0 16px;
}
p .key:hover{
	cursor:pointer;
}

.copy, .copied{
	transition: ease .3s;
	position:absolute;
	left:100%;
	font-size:20px;
	line-height:20px;
}
.copy{
	color:var(--grey);
}
.copied{
	width: fit-content;
	color:var(--success);
}

.hide{opacity:0;}

/*input{
	font-size:20px;
	width:300px;
	padding:10px 14px;
	border-radius:8px;
	background-color:var(--lightgrey);
	border-style:none;
	margin-top:30px;
}*/